[project]
	description = Common configurations under unix-like system.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ZZ.Benson (zhaoloving)
[access "refs/for/refs/*"]
	read = group user/ZZ.Benson (zhaoloving)
	push = group user/ZZ.Benson (zhaoloving)
	label-Code-Review = -2..+2 group user/ZZ.Benson (zhaoloving)
	label-Verified = -1..+1 group user/ZZ.Benson (zhaoloving)
	rebase = group user/ZZ.Benson (zhaoloving)
	removeReviewer = group user/ZZ.Benson (zhaoloving)
	submit = group user/ZZ.Benson (zhaoloving)
[access "refs/heads/*"]
	read = group user/ZZ.Benson (zhaoloving)
	create = group user/ZZ.Benson (zhaoloving)
	push = +force group user/ZZ.Benson (zhaoloving)
	pushMerge = group user/ZZ.Benson (zhaoloving)
[access "refs/tags/*"]
	push = +force group user/ZZ.Benson (zhaoloving)
	pushTag = group user/ZZ.Benson (zhaoloving)
	pushSignedTag = group user/ZZ.Benson (zhaoloving)
